<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adming page</title>
</head>

<style>
    body {
        text-align: center;
    }

    table,
    th,
    td {
        margin: 0 auto;
        padding: 10px;
        border: 2px solid gray;
        border-collapse: collapse;
    }

    form {
        display: inline;
    }
</style>

<body>

<h2>Users List</h2>
<br>

<table>
    <tr>
        <th>Id</th>
        <th>Gender</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Login</th>
        <th>Password</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getGender()}"/>
            <td th:text="${user.getName()}"/>
            <td th:text="${user.getSurname()}"/>
            <td th:text="${user.getAge()}"/>
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getPassword()}"/>
            <td th:text="${user.getRoles()}"/>
            <td>
                <form th:method="post" th:action="@{/admin/editUser/{id}(id=${user.getId()})}">
                    <input type="submit" value="edit"/>
                </form>
                <form th:method="post" th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}">
                    <input type="submit" value="delete"/>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br>
<form method="post" th:action="@{/admin/addUser}">
    <input type="submit" value="add new user">
</form>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>

</body>
</html>