<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<style>
    label {
        display: block;
    }
</style>

<body>

<h2>Edit user</h2>

<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    <label>ID: </label>
    <input type="number" th:field="*{id}" hidden/>
    <label>Gender: </label>
    <input type="radio" th:field="*{gender}" value="M" required/>
    Male
    <br>
    <input type="radio" th:field="*{gender}" value="F" required/>
    Female
    <br><br>

    <label>Name: </label>
    <input type="text" th:field="*{name}" minlength="2" maxlength="50" required/>
    <br><br>

    <label>Surname: </label>
    <input type="text" th:field="*{surname}" minlength="2" maxlength="50" required/>
    <br><br>

    <label>Age: </label>
    <input type="number" th:field="*{age}" min="0" max="99" required/>
    <br><br>

    <label>Username: </label>
    <input type="text" th:field="*{username}" minlength="3" maxlength="50" required/>
    <br><br>

    <label>Password: </label>
    <input type="text" th:field="*{password}" minlength="3" maxlength="50" required/>
    <br><br>

    <label>Roles: </label>
    <select name="rolesList" multiple size="3" required>
        <option th:each="role : ${allRoles}"
                th:value="${role}"
                th:text="${role}">
        </option>
    </select>
    <br><br>

    <input type="submit" value="Save"/>
</form>

</body>
</html>