<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body class="bg-light">
<nav class="navbar bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <b><span th:text="*{logged.getUsername()}"></span></b>
            <span th:text="' with roles ' + *{logged.getRoles()}"></span>
        </a>
        <form method="post" th:action="@{/logout}">
            <button type="submit" class="btn btn-dark text-secondary">
                Logout
            </button>
        </form>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-md-2 bg-white">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('ADMIN')" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasAnyAuthority('ADMIN','USER')" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <h1>User information-page</h1>
            <div class="card">
                <h5 class="card-header bg-light">About user</h5>
                <div class="card-body">
                    <table class="table table-striped bg-white">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Gender</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Age</th>
                            <th>Login</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:object="${logged}">
                            <tr>
                                <td th:text="${logged.getId()}"/>
                                <td th:text="${logged.getGender()}"/>
                                <td th:text="${logged.getName()}"/>
                                <td th:text="${logged.getSurname()}"/>
                                <td th:text="${logged.getAge()}"/>
                                <td th:text="${logged.getUsername()}"/>
                                <td th:text="${logged.getRoles()}"/>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>